// @import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Indie+Flower&display=swap");
@import "reset";
@import "fonts";
@import "variables";
@import "base";

.bg-dark {
  &::before {
    content: "";
    background-color: #00000052;
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
  }
}

.btn {
  width: 50px;
  &.btn-white {
    background: $white-color;
    color: $black-color;
  }
  &.btn-transparent {
    color: #fff;
    background: #ffffff1a;
  }
}

// .content-text {
//   position: absolute;
//   top: 50%;
//   transform: translateY(-50%);
//   width: 50%;
//   height: 100%;
//   display: flex;
//   flex-direction: column;
//   align-items: center;
//   justify-content: center;

//   h2 {
//     width: 50%;
//     font-size: 30px;
//   }
//   p {
//     width: 50%;
//   }
// }

.wrapper {
  header {
    position: fixed;
    top: 0;
    z-index: 999999;
    width: 100%;
    height: 65px;
    transition: 0.3s ease-in-out;

    &.nav-active {
      background-color: #fff;
      box-shadow: 5px -1px 12px -5px grey;

      .menu {
        .branding {
          img {
            filter: none;
          }
        }
        nav {
          ul {
            li {
              a {
                color: #000;
              }
            }
          }
        }
      }
    }

    .mobile-menu-opener {
      display: none;
    }

    .menu {
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 100%;

      .branding {
        img {
          filter: brightness(0) invert(1);
        }
      }

      nav {
        display: flex;
        justify-content: center;
        align-items: center;
        ul {
          display: flex;

          li {
            margin: 15px;

            a {
              color: $white-color;
            }
          }
        }
      }
    }
  }

  main {
    section {
      &.overview {
        position: relative;
        width: 100%;
        background: url(/assets/images/image-16.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        min-height: 600px;

        .overview-content-text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          display: flex;
          flex-direction: column;
          align-items: center;

          .overview-header {
            width: 50%;

            h1 {
              font-size: 50px;
              line-height: 1;
              margin-bottom: 20px;
            }

            p {
              margin-bottom: 20px;
            }
          }
          .overview-buttons {
            display: flex;
            width: 50%;

            .btn {
              width: 100px;
              height: 30px;
              display: flex;
              justify-content: center;
              align-items: center;
              border-radius: 5px;

              &.btn-white {
                margin-right: 10px;
              }
            }
          }
        }
      }

      &.our-mission {
        position: relative;
        background: url(/assets/images/image-1.jpg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        min-height: 600px;

        .content-text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h2 {
            width: 100%;
            font-size: 30px;
          }
        }
      }

      &.what-we-do {
        position: relative;
        height: 576px;

        .bg-video {
          position: absolute;
          // top: 50%;
          // left: 50%;
          width: 100%;
          min-width: 100%;
          max-width: none;
          height: auto;
          min-height: 100%;
          // transform: translateX(-50%) translateY(-50%);
        }

        .what-we-do_content {
          position: relative;
          // width: 100%;
          top: auto;
          transform: none;
          //bottom: 0;
          // z-index: 1;
          height: 100%;
          .columns {
            height: 100%;
            align-items: center;
          }

          .content-text {
            // width: 50%;
            // height: 100%;
            // float: left;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-right: 100px;

            h2 {
              width: 100%;
              font-size: 30px;
              margin-bottom: 10px;
            }
            p {
              width: 100%;
            }
          }

          .categories {
            .category {
              position: relative;
              width: 50%;
              float: left;
              margin-bottom: 15px;

              i {
                font-size: 70px;
              }

              p {
                font-size: 25px;
              }
            }
          }
        }
      }

      &.our-solutions {
        position: relative;
        background: url(/assets/images/image-3.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        min-height: 600px;

        .content-text {
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          width: 100%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          h2 {
            width: 100%;
            font-size: 30px;
          }
          .marketing-solution {
            margin-bottom: 15px;

            h2 {
              width: 50%;
            }
            p {
              width: 50%;
            }
          }
          .solutions {
            width: 100%;
            display: flex;
            flex-wrap: wrap-reverse;
            .solution {
              width: 50%;
              display: flex;
              flex-direction: column;
              align-items: center;
              margin-bottom: 20px;
            }
          }
        }
      }

      &.our-work {
        position: relative;
        background: url(/assets/images/image-13.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        min-height: 600px;

        .swiper {
          width: 100%;
          height: 100%;

          .swiper-slide {
            font-size: 18px;
            height: auto;
            display: flex;
            align-items: center;

            .work-image {
              width: 50%;
              height: 50%;
              margin-right: 20px;

              img {
                display: block;
                width: 100%;
                height: 100%;
                object-fit: cover;
              }
            }

            .work-text {
              width: 50%;
              height: 50%;

              &::before {
                content: "";
                display: flex;
                border-top: 3px solid #fff;
                width: 50px;
                margin: 30px 0;
              }
            }
          }

          .swiper-button-next,
          .swiper-button-prev {
            background: #fff;
            padding: 5px 10px;
            border-radius: 5px;

            &::after {
              font-size: 20px;
              color: #000;
            }
          }

          .swiper-pagination {
            .swiper-pagination-bullet {
              width: 10px;
              height: 10px;
              margin: 5px;
              cursor: pointer;
              color: transparent;
              border: 0;
              border-radius: 2px;
              outline: none;
              padding: 0;
              background: #fff;
            }
          }
        }
      }

      &.contact-us {
        position: relative;
        background: url(/assets/images/image-14.jpg) no-repeat;
        background-size: cover;
        background-position: center;
        height: 100vh;
        min-height: 600px;

        .content-text {
          
          h2,
          p {
            padding-bottom: 15px;
          }
          .contact-option {
            width: 50%;

            .option-item {
              padding-bottom: 15px;
            }
          }
        }

        .contact-form {
          position: absolute;
          top: 50%;
          right: 20px;
          transform: translate(-20px, -50%);
          width: 50%;
          height: 100%;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          form {
            width: 100%;

            .form-group {
              display: flex;

              .name {
                width: 50% !important;
              }
              .mail {
                width: 50% !important;
              }
              .form-item {
                width: 100%;
                margin: 0 5px 15px;
                padding: 10px;
                border: none;
                outline: none;
                border-radius: 7px;
              }
            }
            .contact-button {
              .btn {
                width: 100px;
                padding: 15px;
                text-align: center;
                border-radius: 7px;
              }
            }
          }
        }
      }
    }
  }

  footer {
    background: #000;
    text-align: center;
    height: 300px;
    color: #8d9caf;

    .footer-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;

      .social-media-icons {
        i {
          font-size: 20px;
          margin: 15px;
        }
      }
      p {
        margin-top: 40px;
        font-size: 15px;
        a {
          color: #b2c0d0;
        }
      }
    }
  }
}

@import "responsive";
